<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>Error</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}<br>
        <p>{{errorBody}}</p>
    </div>
    
    {{>footer}}
</body>

</html>